@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
body {
    color: #000;
    background: #21242c;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
h1,h2,h3,p {
    margin: 10px;
}
a:link, a:visited {
    color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, button {
    outline: 0;
}
input {
    outline: none;
    border-radius: var(--theme-br);
    border: solid 1px var(--theme-grey);
    height: 35px;
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 5px;
    background: var(--theme-grey);
    box-shadow: inset 3px 3px 5px 0 #23282c,
    inset -3px -3px 5px 0 #343c41;
}
input:focus {
    /*border: solid 1px #151719;*/
    border: solid 1px #525659;
}
input::placeholder {
    color: #878f98;
}
textarea {
    margin-top: 8px;
    outline: none;
    border-radius: var(--theme-br);
    border: solid 1px var(--theme-grey);
    height: calc(100% - 28px);
    width: calc(100% - 29px);
    color: #fff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
    background: var(--theme-grey);
    box-shadow: inset 3px 3px 5px 0 #23282c,
    inset -3px -3px 5px 0 #343c41;
    resize: none;
}
textarea:focus {
    border: solid 1px #525659;
    outline: none;
}
textarea::placeholder {
    color: #878f98;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.centre {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.neumorphic {
    border-radius: var(--theme-br);
    border: solid 1px #353941;
    box-shadow:  5px 5px 10px #141414, /*-5px -5px 10px #242424,*/
                inset 3px 3px 15px 0 #23282c, inset -3px -3px 15px 0 #343c41;
}
.btn-neumorphic {
    width: 56.5px;
    height: 56.5px;
    background: #282c30;
    border: solid 1px #282c30;
    outline: none;
    border-radius: var(--theme-br);
}
.btn-neumorphic:hover {
    border: solid 1px #525659;
    box-shadow: inset 8px 8px 15px #222529,
            inset -8px -8px 15px #2e3337;
    cursor: pointer;
}
.btn-neumorphic-pressed {
    border-radius: var(--theme-br);
    border: solid 1px #525659;
    box-shadow: inset 8px 8px 15px #222529,
            inset -8px -8px 15px #2e3337;
}
.widget-bg-style {
    width:100%;
    height:100%;
    border-radius: var(--theme-br);
}
.convex {
    background: linear-gradient(-45deg,var(--gd1),var(--gd2));
    width: calc(100% + 1px);
    height: calc(100% + 2px);
}
.flat {
    background: none;
}

/* Spinner */
.loading-page {
    position: fixed;
    margin-left: -8px;
    margin-top: -18px;
    width: 100%;
    height: 100%;
    background: #21242c;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.loading-page-hidden {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;visibility: hidden;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;visibility: hidden;}
 }
.spinner {
    width: 4rem;
    height: 4rem;
    background: rgba(87,111,230,1);
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
    -webkit-animation: flip 1.2s ease infinite;
            animation: flip 1.2s ease infinite;
}
@-webkit-keyframes flip {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
        background: red;
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes flip {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

/* Buttons Containers */
.button-container {
    position: fixed;
    bottom: 20px;
    left: 30px;
    width: 320px;
    height: 60px;
    z-index: 200;
}

/* Button Styles */
.btn {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 180px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    /*background: linear-gradient(-45deg,var(--gd1),var(--gd2));*/
    border-radius: 20px;
    box-shadow:  5px 5px 13px #141414,
                 -5px -5px 13px #242424;
}
.btn span {
    position: relative;
}
.btn:hover {
    cursor: pointer;
    /*background: linear-gradient(135deg,var(--gd1),var(--gd2));*/
    transition: 0.1s;
}
.btn:hover span {
    margin-left: 3px;
}
.btn:after {
    position: absolute;
    content:"";
    height: 50px;
    width: 372px;
    z-index: -1;
    transform: translateX(-280px);
    transition: transform 200ms ease-in;
}
.btn-menu {
    box-shadow: none;
    background: var(--theme-grey);
    border-radius: var(--theme-br);
    text-align: left;
}
.btn-menu:hover {
    background: var(--theme-grey);
}
.btn-menu:hover span {
    top: 17px;
}
.btn-menu-icon {
    margin-left: 12px;
    margin-right:10px;
}
#btn-edit-save button span:after {
    font-family: 'Font Awesome 5 Free';
    font-weight:900;
    content: "\f1de";
}
#btn-edit-save button:hover {
    cursor: pointer;
    transition: 0.1s;
}
#btn-edit-save.alt button span:after {
    font-family: 'Font Awesome 5 Free';
    font-weight:900;
    content: "\f0c7";
}
#btn-edit-save.alt .btn-edit-save {
    background: rgba(101, 255, 120, 0.5);
    outline: none;
    border: none;
}
.btn-add-new-widget, .btn-background-dialogue, .btn-default-layout, .btn-export-save, .btn-import-save, .btn-edit-save  {
    width: 50px;
    font-size: 20px;
    letter-spacing: 0;
    border: none;
    /*border: solid 1px #ccc;*/
}
.btn-edit-save {
    background: none;
}
.btn-add-new-widget {
    margin-left: 90px;
}
.btn-background-dialogue {
    margin-left: 180px;
}
.btn-default-layout {
    margin-left: 270px;
}
.btn-export-save {
    margin-left: 360px;
}
.btn-import-save {
    margin-left: 450px;
}
.btn-add-new-widget span, .btn-default-layout span, .btn-background-dialogue span, .btn-export-save span, .btn-import-save span {
    top: 14px;
}
.btn-export-save span {
    left: 3px;
}

/* Dialogues */
.dialogue {
    position: fixed;
    z-index: 100;
    display: none;
    padding: 40px 0 30px 0;
    background: var(--theme-grey);
}
.btn-dialogue-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 4px;
    width: 38px;
    height: 38px;
    background: none;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: var(--theme-br);
}
.btn-dialogue-close:hover {
    cursor: pointer;
    border: solid 1px var(--theme-grey);
    box-shadow: inset 3px 3px 5px 0 #23282c,
    inset -3px -3px 5px 0 #343c41;
    border: solid 1px #353941;
}
.dialogue label {
    color: #6a6a6a;
}

/* Add New Widgets Dialogue */
.add-new-widget-dialogue {
    top: calc(50% - 200px);
    left: calc(50% - 170px);
    width: 320px;
    height: auto;
}
.add-widget-list {
    width: 100%;
}
.add-widget-list a {
    position: relative;
    margin: 0 auto;
    margin-left: 70px;
    margin-bottom: 10px;
}
.btn-add-bookmark span, .btn-edit-bookmark span, .btn-add-blank span, .btn-add-search-d span, 
.btn-add-search-g span, .btn-add-notepad span, .btn-add-photo span {
    top: 16px;    
}

/* Add New Bookmark Dialogue */
.add-bookmark-dialogue, .edit-bookmark-dialogue, .edit-photo-dialogue {
    top: calc(50% - 215px);
    left: calc(50% - 190px);
    width: 320px;
    height: 215px;
    padding: 20px;
}
.edit-photo-dialogue {
    top: calc(50% - 140px);
    height: 140px;
}
/*.add-bookmark-dialogue label, .edit-bookmark-dialogue label, .edit-photo-dialogue label {
    color: #fff;
}*/
.add-bookmark-dialogue input, .edit-bookmark-dialogue input, .edit-photo-dialogue input {
    margin-top: 5px;
    width: 310px;
}
.btn-add-bookmark-submit, .btn-edit-bookmark-submit, .btn-edit-photo-submit {
    position: absolute;
    color: #41e33b;
    margin-top: 18px;
    margin-left: calc(50% - 45px);
    width: 50px;
    height: 50px;
    font-size: 28px;
}
.btn-add-bookmark-submit:hover i, .btn-edit-bookmark-submit:hover i, .btn-edit-photo-submit:hover i {
    margin-top: 6px;
    margin-left: 2px;
}

/* Change Background Dialogue */
.background-dialogue {
    top: calc(50% - 200px);
    left: calc(50% - 170px);
    width: 320px;
    height: auto;
    padding-top: 50px;
}

/* Import/Export Save Dialogue */
.export-save-dialogue, .import-save-dialogue {
    top: calc(50% - 100px);
    left: calc(50% - 225px);
    width: 450px;
    height: 95px;
    padding-top: 50px;
}
.import-save-dialogue {
    height: 75px;
}
.export-message, .import-message {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}
.export-icons, .import-icons {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
}

/* Reset Confirm Dialogue */
.reset-confirm-dialogue {
    top: calc(50% - 190px);
    left: calc(50% - 225px);
    width: 450px;
    height: 95px;
    padding-top: 50px;
}
.reset-confirm-dialogue {
    height: 190px;
}
.reset-confirm-message {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}
.reset-confirm-icons {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
}
.btn-reset-confirm-yes, .btn-reset-confirm-no {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    width: 150px;
}
.btn-reset-confirm-yes {
    margin-left: 20px;
}
.btn-reset-confirm-yes:hover {
    border-radius: var(--theme-br);
}
.btn-reset-confirm-no {
    float: right;
    margin-right: 20px;
}
.btn-reset-confirm-no:hover {
    border-radius: var(--theme-br);
}

/* Colour Picker Accordion */
button.accordion {
    background-color: var(--grey);
    color: #fff;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: solid 1px #343c41;
}
button.accordion.active {
    background: rgba(87,111,230,1);
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
}
button.accordion:hover {
    background: rgba(87,111,230,1);
    background: linear-gradient(45deg, rgba(119,53,143,1) 0%, rgba(240,0,88,1) 100%);
}
button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
.panel {
    padding-left:12px;
    padding-right:0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item {
    height: 80px;
    padding-top: 10px;
}
#btn-other {
    border-bottom: solid 1px #343c41;
}
.colour-input-box-2, .colour-input-box-3 {
    display: inline-block;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.colour-input-box-2 {
    margin-left: 12px;
    float: left;
    width: 215px;
    height: 50px;
}
.colour-input-box-3 {
    float: right;
    width: 76px;
    height: 50px;
}
.colour-input {
    width: 220px;
}
.photo-input {
    width: 220px;
}
.set-bg-colour, .set-bg-photo {
    position: relative;
    margin-left: -20px;
    color: #41e33b;
    width:50px;
    height:50px;
    font-size: 18px;
}
.custom-photo-happy {
    display: none;
    color: #fff;
    font-size: 14px;
    width: 320px;
    text-align: center;
    margin-bottom: -18px;
}


/* Other Style Settings */
.radius-amount {
    margin: 0 auto;
    width: 25px;
    height: 25px;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
}
.appearance-other-item {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    line-height: 30px;
    color: #fff;

}
.appearance-other-item-toggle {
    display: inline-block;
    float: right; 
    margin-right: 20px;
}

/* Gridster Styles */
.gridster .gs-w {
    border-radius: var(--theme-br);
    background: linear-gradient(-45deg,rgba(0,0,0,0.22),rgba(255,255,255,0.25));
    box-shadow:  5px 5px 13px #141414,
                 -5px -5px 13px #242424;
}
.btn-colour-picker {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100%;
    background: conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red);
    z-index: 100;
}
.btn-colour-picker .colour-picker {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 0;
    right: 105%; 
    position: absolute;
    z-index: 150;
}
.btn-colour-picker .colour-picker::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  z-index: 150;
}
.colour-picker {
    visibility: hidden;
}
.btn-colour-picker:hover .colour-picker {
  visibility: visible;
}
.widget-colour {
    width: 100%;
    height: 100%;
    border-radius: var(--theme-br);
    border: solid 1px;
}
.btn-colour-grey2, .btn-colour-red, .btn-colour-green, .btn-colour-blue, .btn-colour-blue2, 
.btn-colour-white2, .btn-colour-yellow, .btn-colour-purple, .btn-colour-teal, .btn-colour-green2,
.btn-colour-orange, .btn-colour-pink, .btn-colour-green3, .btn-colour-purple2, .btn-colour-white,
.btn-colour-grey, .btn-colour-grey2, .btn-colour-grey3, .btn-colour-cyan, .btn-colour-grey4,
.btn-colour-purple3, .btn-colour-bg {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: solid 2px #353941;
}
.btn-colour-grey2:hover, .btn-colour-red:hover, .btn-colour-green:hover, .btn-colour-blue:hover, 
.btn-colour-blue2:hover, .btn-colour-white2:hover, .btn-colour-yellow:hover, .btn-colour-purple:hover,
.btn-colour-teal:hover, .btn-colour-green2:hover, .btn-colour-orange:hover, .btn-colour-pink:hover,
.btn-colour-green3:hover, .btn-colour-purple2:hover, .btn-colour-white:hover, .btn-colour-grey:hover,
.btn-colour-grey2:hover, .btn-colour-grey3:hover, .btn-colour-cyan:hover, .btn-colour-grey4:hover, 
.btn-colour-purple3:hover, .btn-colour-bg:hover {
    cursor: pointer;
}
.btn-colour-grey, .colour-bg-grey {
    background: #7f7979;
}
.btn-colour-grey2, .colour-bg-grey2 {
    background: #333333;
}
.btn-colour-grey3, .colour-bg-grey3 {
    background: #1c1c1c;
}
.btn-colour-red, .colour-bg-red {
    background: #703232;
}
.btn-colour-green, .colour-bg-green {
    background: #83E377;
}
.btn-colour-green2, .colour-bg-green2 {
    background: #6ae1b7;
}
.btn-colour-green3, .colour-bg-green3 {
    background: #c3dac3;
}
.btn-colour-blue, .colour-bg-blue {
    background: #79beff;
}
.btn-colour-blue2, .colour-bg-blue2 {
    background: #577590;
}
.btn-colour-yellow, .colour-bg-yellow {
    background: #d5bb44;
}
.btn-colour-white2, .colour-bg-white2 {
    background: #d5deef;
}
.btn-colour-orange, .colour-bg-orange {
    background: #f29e4c;
}
.btn-colour-purple, .colour-bg-purple {
    background: #54478C;
}
.btn-colour-purple2, .colour-bg-purple2 {
    background: #ac92a6;
}
.btn-colour-teal, .colour-bg-teal {
    background: #0DB39E;
}
.btn-colour-pink, .colour-bg-pink {
    background: #ff92c2;
}
.btn-colour-white, .colour-bg-white {
    background: #e8eef2;
}
.btn-colour-cyan, .colour-bg-cyan {
    background: #64acb3;
}
.btn-colour-grey4, .colour-bg-grey4 {
    background: #21242c;
}
.btn-colour-purple3, .colour-bg-purple3 {
    background: #675278;
}
.btn-colour-bg {
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: black;
}
.gridster .preview-holder {
    border: none !important;
    border-radius: var(--theme-br) !important;
    background: #bfbdc1 !important;
    /*animation-name: pulse; 
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running; */
}
/*@keyframes pulse { 
    0% { 
        transform: scale(1); 
    } 
    50% { 
    } 
    100% { 
        transform: scale(0.95); 
    } 
}*/
.gridster li {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}
ul {
    list-style-type: none;
}
li {
    list-style: none;
    font-weight: bold;
}
.gridster-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.gridster li header {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: move;
    z-index: 10;
    border-radius: var(--theme-br);
    /*display: flex;
    flex-wrap: wrap;
    align-content: center;*/

}
.gridster li header:hover {
    border: solid 2px #41e33b;
    margin-top: -2px;
    margin-left: -2px;
}
.gridster li header:before {
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f0b2";
    font-weight:900;
    margin: 0 auto;

}
.gs-resize-handle, .gs-resize-handle { /*.gs-w.dragging,*/
    background-image:url();
    opacity: 1;
    position: absolute;
    color: #aaafcd;
    font-size: 25px;
    transform: rotate(45deg);
    margin-top: -15px; 
    margin-left: -15px;
}
.gs-resize-handle:before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    margin-left: -20px;
    content: "\f337";
}

/* Widget Buttons */

.remove, .btn-edit-bookmark, .btn-edit-photo {
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--theme-grey);
    border-radius: 100%;
    z-index: 20;
}
.remove {
    top: -3px;
    right: -3px;
    color: #f00;
    border: solid 1px #f00;
}
.btn-edit-bookmark {
    top: 28px;
    left: -3px;
    color: #fff;
    background: var(--theme-grey);
    border: solid 1px #fff;
}
.btn-edit-photo {
    top: -3px;
    left: -3px;
    color: #fff;
    background: var(--theme-grey);
    border: solid 1px #fff;
}

.remove:before, .btn-edit-bookmark:before, .btn-edit-photo:before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight:900;
}
.remove:before {
    margin-top: -8px;
    margin-left: -5px;
    content: "\f00d";
    font-size: 15px;
}
.btn-edit-bookmark:before {
    margin-top: -8px;
    margin-left: -7px;
    content: "\f303";
    font-size: 14px;
}
.btn-edit-photo:before {
    margin-top: -8px;
    margin-left: -7px;
    content: "\f303";
    font-size: 14px;
}

.remove:hover, .btn-edit-bookmark:hover, .btn-edit-photo:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition: transform 50ms ease-in;
}
.remove:active, .btn-edit-bookmark:active, .btn-edit-photo:active {
    transform: scale(1.1,1.1);
    transition: transform 50ms ease-in;
}
/*.btn-edit-bookmark:before::active {
    margin-left: -7px;
}*/

/* Widget Bookmark */
.widget-link a:link, a:visited {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
}
.widget-link {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
    margin-left: -1px;
    border-radius: var(--theme-br);    
}
.widget-link:hover  {
    background: linear-gradient(-45deg,var(--gd2),var(--gd1));
    border-radius: var(--theme-br);
    height: calc(100% - 0.5px);
    width: calc(100% - 0.5px);
}
.widget-link:hover a {
    margin-top: 1px;
    margin-left: 1px;
}

/* Widget Search */
.search-bar {
    padding: 5px 10px 0 6px;
    position: relative;
    margin: auto;
}

/* Widget Notes */
.notepad {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.notepad textarea {
    position: relative;
    width: 100%;
    height: 100%:;
}

/* Notifications */
.notification-saved {
    position: fixed;
    top: 40px;
    left: calc(50% - 175px);
    width: 350px;
    padding: 10px;
    background: #83E377;
    font-size: 20px;
    text-align: center;
    z-index: 500;
    border-radius: var(--theme-br);
}

/* Edit Mode Jiggle */
.jiggle {
    animation: jiggle 1s;
    animation-iteration-count: infinite;
}
@keyframes jiggle
{
  0% 
  {
    transform: translate(1px, 1px) rotate(0deg); 
  }
  10% 
  { 
    transform: translate(-1px, -2px) rotate(-0.2deg); 
  }
  20% 
  { 
    transform: translate(-2px, 0px) rotate(0.2deg); 
  }
  30% 
  { 
    transform: translate(1px, 2px) rotate(0deg); 
  }
  40% 
  { 
    transform: translate(1px, -1px) rotate(0.3deg); 
  }
  50% 
  { 
    transform: translate(-1px, 2px) rotate(-0.2deg); 
  }
  60% 
  { 
    transform: translate(-2px, 1px) rotate(0deg); 
  }
  70% 
  { 
    transform: translate(0px, 1px) rotate(-0.3deg);
  }
  80% 
  { 
    transform: translate(-1px, -1px) rotate(0.1deg); 
  }
  90% 
  { 
    transform: translate(1px, 2px) rotate(0deg); 
  }
  100% 
  { 
    transform: translate(1px, -2px) rotate(-0.3deg); 
  }
}

/* Tooltips */
.tooltip {
    /*position: relative;
    display: inline-block;*/
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 120px;
    bottom: calc(100% + 10px);
    margin-left: -60px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Search bar */
.search-input {
    float: left;
    width: calc(100% - 70px);
}
.btn-search-d, .btn-search-g {
    margin-left: 10px;
    width: 38px;
    height: 38px;
    background: none;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: var(--theme-br);
}
.btn-search-d:hover, .btn-search-g:hover {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: solid 1px var(--theme-grey);
    box-shadow: inset 3px 3px 5px 0 #23282c,
    inset -3px -3px 5px 0 #343c41;
    border: solid 1px #353941;
}
.btn-search-d:hover i, .btn-search-g:hover i {
    margin-top: 4px;
    margin-left: 1px;
}
/* Ripple animation */
#ripple {
    position: absolute;
    top: 16px;
    left: 16px;
}
.circle-ripple {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.circle-ripple-play {
    -webkit-animation: ripple 1s linear infinite;
          animation: ripple 1s linear infinite;
    animation-delay: 5s;
}

/* buymeacoffee button */
.buymeacoffee {
    position: fixed;
    margin-left: calc(100% - 250px);
    z-index: 999;
}
.buymeacoffee a {
    color: #000;
}
@-webkit-keyframes wait {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
@keyframes wait {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.4), 0 0 0 1em rgba(101, 255, 120, 0.4);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.4), 0 0 0 3em rgba(101, 255, 120, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.4), 0 0 0 1em rgba(101, 255, 120, 0.4);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.4), 0 0 0 3em rgba(101, 255, 120, 0);
  }
}
/*@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.1), 0 0 0 1em rgba(101, 255, 120, 0.1), 0 0 0 3em rgba(101, 255, 120, 0.1), 0 0 0 5em rgba(101, 255, 120, 0.1);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.1), 0 0 0 3em rgba(101, 255, 120, 0.1), 0 0 0 5em rgba(101, 255, 120, 0.1), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.1), 0 0 0 1em rgba(101, 255, 120, 0.1), 0 0 0 3em rgba(101, 255, 120, 0.1), 0 0 0 5em rgba(101, 255, 120, 0.1);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.1), 0 0 0 3em rgba(101, 255, 120, 0.1), 0 0 0 5em rgba(101, 255, 120, 0.1), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}*/

/* Scrollbars */
textarea {
    scrollbar-color: #1c1c1c var(--theme-grey);
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -5px;
    background-color: none;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1c1c1c;
}

/* Paste Loading Icon */
.paste-loader-icon {
    padding-top: 5px;
    width: 100%;
    text-align: center;
}
.paste-loader-icon-fail {
    width: 100%;
    text-align: center;
    color: red;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  margin-top: 20px;
  border: 8px solid #83E377;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #83E377 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toggle */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    border: solid 1px #525659;
    background: var(--theme-grey);
    box-shadow: inset 8px 8px 15px #222529, inset -8px -8px 15px #2e3337;
}
.toggle-state {
  display: none;
}
.indicator {
    height: 100%;
    width: 200%;
    background: linear-gradient(45deg, rgba(255,53,127,1) 0%, rgba(152,68,183,1) 100%);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:  5px 5px 5px #141414, -5px -5px 5px #242424;
}
.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

/* Colour Palette */
.full-spectrum .sp-palette {
    max-width: 200px;
}
.btn-colour-palette {
    position: absolute;
    margin-top: -28px;
    margin-left: 175px;
}

/* Photo Position Slider */
.slidecontainer {
    width: 50px;
    position: absolute;
    bottom: 7px;
    left: 20px;
    z-index: 20;
}
.slidecontainer-vertical {
    width: 50px;
    position: absolute;
    bottom: 60px;
    left: -13px;
    z-index: 20;
    transform: rotate(90deg);
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    background: rgba(255,255,255,0.2);
    outline: none;,
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: none;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}